@import "vars";

//Breakpoints
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $screen-xs-max) { @content; }
  }

  @else if $class == sm {
    @media (min-width: $screen-sm-min) { @content; }
  }

  @else if $class == md {
    @media (min-width: $screen-md-min) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $screen-lg-min) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

//Grid
@mixin row() {
  margin-left: -$col-padding;
  margin-right: -$col-padding;
  overflow: hidden;
}

@mixin container() {
  max-width: $container-max-width;
  padding-left: $col-padding;
  padding-right: $col-padding;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@mixin col {
  display: block;
  float: left;
  padding-left: $col-padding;
  padding-right: $col-padding;
}

@mixin col-1 {
  @include col;
  width: percentage(1/12);
}

@mixin col-2 {
  @include col;
  width: percentage(2/12);
}

@mixin col-3 {
  @include col;
  width: percentage(3/12);
}

@mixin col-4 {
  @include col;
  width: percentage(4/12);
}

@mixin col-5 {
  @include col;
  width: percentage(5/12);
}

@mixin col-6 {
  @include col;
  width: percentage(6/12);
}

@mixin col-7 {
  @include col;
  width: percentage(7/12);
}

@mixin col-8 {
  @include col;
  width: percentage(8/12);
}

@mixin col-9 {
  @include col;
  width: percentage(9/12);
}

@mixin col-10 {
  @include col;
  width: percentage(10/12);
}

@mixin col-11 {
  @include col;
  width: percentage(11/12);
}

@mixin col-12 {
  @include col;
  width: percentage(12/12);
}

@mixin image-square-container($size: 100%, $padding: 20px) {
  position: relative;
  width: $size;
  padding-bottom: $size;
  text-align: center;

  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: $padding;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }
}