//Breakpoints
$screen-xs-max: 767px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

//Colors
$theme-color-orange: #EA6B4D !default;
$theme-color-grey: #999999 !default;
$theme-color-grey-light: #fafafa !default;
$theme-color-border: #cccccc !default;

//Grid
$col-padding: 15px !default;
$container-max-width: 970px !default;