//Breakpoints
$screen-xs-max: 767px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

//Colors
$theme-color-red: #f54f52 !default;
$theme-color-orange: #EA6B4D !default;
$theme-color-blue: #0090E3 !default;
$theme-color-green: #61BD4F !default;
$theme-color-grey: #999999 !default;
$theme-color-grey-light: #fafafa !default;
$theme-color-border: #cccccc !default;
$theme-color-navy: #303e58 !default;

$theme-transition-duration: 0.3s !default;
$theme-transition-easing: ease !default;

//Grid
$col-padding: 15px !default;
$container-max-width: 970px !default;
$col-1-width: percentage(1/12);
$col-2-width: percentage(2/12);
$col-3-width: percentage(3/12);
$col-4-width: percentage(4/12);
$col-5-width: percentage(5/12);
$col-6-width: percentage(6/12);
$col-7-width: percentage(7/12);
$col-8-width: percentage(8/12);
$col-9-width: percentage(9/12);
$col-10-width: percentage(10/12);
$col-11-width: percentage(11/12);
$col-12-width: percentage(12/12);

//General components
$circle-check-size: 30px !default;
